<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flight Suite">
    <listeners>
        <listener class-name="Tests.TestListener" />
    </listeners>

    <test name="Flight Search Test">
        <classes>
            <class name="Tests.Testcase" />
        </classes>
    </test>
</suite>